/*
ROSA: #f28482
MORADO: #3c096c
AMARILLO:#ff9e00
NEGRO: #
GRIS: #
*/
.container {
  background: #6190E8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 950px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  position: relative;
  overflow: scroll;
}

.content {
  padding: 1em;
}

td {
  display: block;
  width: 100%;
}

td:nth-of-type(1) {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff006e;
}

th {
  display: none;
}

.position {
  background-color: #f28482;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-right: 0.5em;
}

.actions {
  position: absolute;
  top: 1em;
  right: 1em;
}

.close {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50px;
  background-color: #f28482;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-item {
  border-bottom: solid;
  border-width: 2px;
  border-color: #3c096c;
  padding-bottom: 1em;
  font-size: 2em;
}

.address {
  font-weight: bold;
  color: #ff006e;
  font-size: 0.9em;
  margin-top: 1em;
  display: inline-block;
}

.main-image {
  float: left;
  margin-right: 1em;
  height: 250px;
}

html {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: #9e0059;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.fa-star {
  color: #ff9e00;
}

.paragraph {
  line-height: 1.5em;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table td, .table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #ad6a6c;
}

@media (min-width:900px) {
  th {
    display: table-cell;
  }

  td {
    width: auto;
    display: table-cell;
  }

  td:nth-of-type(1) {
    font-size: 1em;
  }

  .content {
    padding: 1.8em;
  }
}

@media (min-height:550px) {
  .content {
    height: 500px;
  }
}